<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Conpatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/carrusel.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

</head>

<body>

    <header class="header">
        <div class="menu container"> <!--menu principal-->
            <a href="#" class="logo"> Cinepolis</a>
            <input type="checkbox" id="menu" />
            <label class="label" for="menu">
                <img src="/images/menu.png" class="menu-icono" alt="menu">
            </label>

        </div>
        <div id="cambiarContrasena">
            <h2> Cambio de contraseña </h2>
            <form  action="/modificarUsuario" method="post">
                <label class="contrasenaOlvidada" for="emailContrasena"> Usuario: </label>
                <input type="text" for="emailContrasena" id="emailContrasena" name="emailContrasena" placeholder="Escribe su usuario..." required>
                <label class="contrasenaOlvidada" for="password"> Contraseña: </label>

                <div class="contrasenaNueva">
                    <input type="password" for="contrasenaOlvidada" id="nuevaContrasena" name="nuevaContrasena" placeholder="Escribe tu contraseña..." required></input>
                    <button class="toggleContrasenaOlvidada" onclick="toggleMostrarContrasenaOlvidad()">
                        <i class="fas fa-eye-slash"></i>
                    </button>
                </div>
                
                <label class="contrasenaOlvidada" for="password"> Repita la contraseña: </label>

                <div class="contrasenaNueva1">
                    <input type="password" for="contrasenaOlvidada1" id="nuevaContrasena1" name="nuevaContrasena1" placeholder="Escribe tu contraseña de nuevo..." required></input>
                    <button class="toggleContrasenaOlvidada1" onclick="toggleMostrarContrasenaOlvidad1()">
                        <i class="fas fa-eye-slash"></i>
                    </button>
                </div>
                <div class="contenedorRegistro">
                    <a id="enlaceCuentaExistente2" class="enlaceRegistro" href="/">¿Ya tienes cuenta? Inicia Sesión</a>
            
                </div>
                <%- errores %>
                <input class="botonContrasenaOlvidada" type="submit" value="Cambiar Contraseña">
            </form>
        </div>
    </header>

    <div class="carrusel">
        <div class="imagen-carrusel">
            <img src="https://image.tmdb.org/t/p/original/uUiIGztTrfDhPdAFJpr6m4UBMAd.jpg" alt="">
            <img src="https://image.tmdb.org/t/p/original/ehumsuIBbgAe1hg343oszCLrAfI.jpg" alt="">
            <img src="https://image.tmdb.org/t/p/original/yl2GfeCaPoxChcGyM5p7vYp1CKS.jpg" alt="">
            <img src="https://image.tmdb.org/t/p/original/pA4sNvcohTNPx3AhEEeIu8gSt7h.jpg" alt="">
        </div>
    </div>


    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/carrusel.js"></script>
    


</body>

</html>