.btn-User {
    position: fixed;
    top: 2vh;
    right: 3vh;
    z-index: 9999;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarUsuario {
    display: none;
    position: fixed;
    top: 9vh;
    right: 2vh;
    padding: 20px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.navbarUsuario li {
    margin-bottom: 3vh;
}

.navbarUsuario li:first-child {
    margin-top: 1vh;
}

.navbarUsuario li:last-child {
    margin-bottom: 1vh;
}

.navbarUsuario i {
    margin-right: 2vh;
}

.navbarUsuario li a {
    color: white;
    font-size: 2vh;
}

.imagenUser {
    width: 80%;
    height: auto;
    background: transparent;
}